In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [2]:
# Load the CSV created in Weather_Database.ipynb into a DataFrame.
city_weather_data_df = pd.read_csv("weather_data/WeatherPy_database.csv", index_col = 0)
city_weather_data_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
City_ID,,,,,,,,,,,
0,Albany,US,42.60,-73.97,72.00,69,51,2.53,broken clouds,0.0,0
1,Castro,BR,-24.79,-50.01,49.96,69,0,3.42,clear sky,0.0,0
2,Ushuaia,AR,-54.80,-68.30,30.20,92,40,4.70,scattered clouds,0.0,0
3,Virginia Beach,US,36.85,-75.98,82.00,78,40,5.82,scattered clouds,0.0,0
4,Bluff,NZ,-46.60,168.33,47.82,75,0,11.07,clear sky,0.0,0
5,Taolanaro,not found,-46.60,168.33,0.00,0,0,0.00,no weather description,0.0,0
6,Mahebourg,MU,-20.41,57.70,71.60,83,40,12.75,light intensity shower rain,0.0,0
7,Atuona,PF,-9.80,-139.03,79.84,75,6,18.34,clear sky,0.0,0
8,Senno,RU,59.53,33.92,51.84,74,99,8.12,overcast clouds,0.0,0
9,Jalu,LY,29.03,21.55,76.44,50,0,8.25,clear sky,0.0,0

In [3]:
# Filter dataframe for min and max temperature
# Ask customer for min and max temp preferences
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Ask customer if they want it to be raining
rain = str(input("Do you want it to be raining? (yes/no) "))

# Ask customer if they want it to be snowing
snow = str(input("Do you want it to be snowing? (yes/no) "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 95
Do you want it to be raining? (yes/no) no
Do you want it to be snowing? (yes/no) no

In [4]:
# Filter the dataset to find the cities that fit the temperature range criteria.
preferred_cities_df = city_weather_data_df.loc[(city_weather_data_df["Max Temp"] <= max_temp) & (city_weather_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
City_ID,,,,,,,,,,,
0,Albany,US,42.60,-73.97,72.00,69,51,2.53,broken clouds,0.0,0
3,Virginia Beach,US,36.85,-75.98,82.00,78,40,5.82,scattered clouds,0.0,0
6,Mahebourg,MU,-20.41,57.70,71.60,83,40,12.75,light intensity shower rain,0.0,0
7,Atuona,PF,-9.80,-139.03,79.84,75,6,18.34,clear sky,0.0,0
9,Jalu,LY,29.03,21.55,76.44,50,0,8.25,clear sky,0.0,0
10,Rikitea,PF,-23.12,-134.97,72.36,84,100,13.80,overcast clouds,0.0,0
13,Kiunga,PG,-6.12,141.29,83.86,71,70,3.87,broken clouds,0.0,0
14,Sovetskiy,RU,61.36,63.58,73.44,77,88,7.09,overcast clouds,0.0,0
18,Butaritari,KI,3.07,172.79,78.64,79,100,6.62,overcast clouds,0.0,0
20,Ponta Do Sol,PT,32.67,-17.10,71.01,53,0,5.86,clear sky,0.0,0

In [5]:
# Filter the dataset to find cities with rain and snow preference.
if rain == 'no':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Rain (inches)"] == 0)]
elif rain == 'yes':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Rain (inches)"] != 0)]
elif snow == 'no':
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Snow (inches)"] == 0)]
else:
    preferred_cities_df = preferred_cities_df.loc[(preferred_cities_df["Snow (inches)"] != 0)]

In [6]:
preferred_cities_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Rain (inches),Snow (inches)
City_ID,,,,,,,,,,,
0,Albany,US,42.60,-73.97,72.00,69,51,2.53,broken clouds,0.0,0
3,Virginia Beach,US,36.85,-75.98,82.00,78,40,5.82,scattered clouds,0.0,0
6,Mahebourg,MU,-20.41,57.70,71.60,83,40,12.75,light intensity shower rain,0.0,0
7,Atuona,PF,-9.80,-139.03,79.84,75,6,18.34,clear sky,0.0,0
9,Jalu,LY,29.03,21.55,76.44,50,0,8.25,clear sky,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...
555,Amapa,BR,1.00,-52.00,70.83,96,0,0.60,clear sky,0.0,0
557,Malatya,TR,38.50,38.00,71.60,35,0,6.93,clear sky,0.0,0
558,Sinayawan,PH,6.71,125.31,85.46,67,2,2.57,clear sky,0.0,0
559,Marshall,US,34.38,-86.33,80.01,65,1,3.36,clear sky,0.0,0
562,Maragogi,BR,-9.01,-35.22,74.03,84,10,6.76,clear sky,0.0,0

In [7]:
preferred_cities_df.count()

City                   216
Country                216
Lat                    216
Lng                    216
Max Temp               216
Humidity               216
Cloudiness             216
Wind Speed             216
Current Description    216
Rain (inches)          216
Snow (inches)          216
dtype: int64

In [8]:
# Add cities to a marker layer map with a pop-up marker for each city
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
0,Albany,US,72.00,broken clouds,42.60,-73.97,
3,Virginia Beach,US,82.00,scattered clouds,36.85,-75.98,
6,Mahebourg,MU,71.60,light intensity shower rain,-20.41,57.70,
7,Atuona,PF,79.84,clear sky,-9.80,-139.03,
9,Jalu,LY,76.44,clear sky,29.03,21.55,
10,Rikitea,PF,72.36,overcast clouds,-23.12,-134.97,
13,Kiunga,PG,83.86,broken clouds,-6.12,141.29,
14,Sovetskiy,RU,73.44,overcast clouds,61.36,63.58,
18,Butaritari,KI,78.64,overcast clouds,3.07,172.79,
20,Ponta Do Sol,PT,71.01,clear sky,32.67,-17.10,

In [9]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
    
# Use base URL to search for hotels
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [10]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
0,Albany,US,72.00,broken clouds,42.60,-73.97,
3,Virginia Beach,US,82.00,scattered clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
6,Mahebourg,MU,71.60,light intensity shower rain,-20.41,57.70,Shandrani Beachcomber Resort & Spa
7,Atuona,PF,79.84,clear sky,-9.80,-139.03,Villa Enata
9,Jalu,LY,76.44,clear sky,29.03,21.55,Jalu Hotel
10,Rikitea,PF,72.36,overcast clouds,-23.12,-134.97,Pension Maro'i
13,Kiunga,PG,83.86,broken clouds,-6.12,141.29,Airport Lodge Kiunga
14,Sovetskiy,RU,73.44,overcast clouds,61.36,63.58,Apartment on Kievskaya 29
18,Butaritari,KI,78.64,overcast clouds,3.07,172.79,Isles Sunset Lodge
20,Ponta Do Sol,PT,71.01,clear sky,32.67,-17.10,Hotel do Campo

In [12]:
# Remove cities which do not have information on Hotels.
hotel_df.drop(hotel_df[(hotel_df['Hotel Name'] == "")].index, inplace = True)

hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
City_ID,,,,,,,
3,Virginia Beach,US,82.00,scattered clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
6,Mahebourg,MU,71.60,light intensity shower rain,-20.41,57.70,Shandrani Beachcomber Resort & Spa
7,Atuona,PF,79.84,clear sky,-9.80,-139.03,Villa Enata
9,Jalu,LY,76.44,clear sky,29.03,21.55,Jalu Hotel
10,Rikitea,PF,72.36,overcast clouds,-23.12,-134.97,Pension Maro'i
13,Kiunga,PG,83.86,broken clouds,-6.12,141.29,Airport Lodge Kiunga
14,Sovetskiy,RU,73.44,overcast clouds,61.36,63.58,Apartment on Kievskaya 29
18,Butaritari,KI,78.64,overcast clouds,3.07,172.79,Isles Sunset Lodge
20,Ponta Do Sol,PT,71.01,clear sky,32.67,-17.10,Hotel do Campo
26,Hobyo,SO,78.64,overcast clouds,5.35,48.53,Osmani Hotel

In [13]:
hotel_df.index.name = None
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Virginia Beach,US,82.00,scattered clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
6,Mahebourg,MU,71.60,light intensity shower rain,-20.41,57.70,Shandrani Beachcomber Resort & Spa
7,Atuona,PF,79.84,clear sky,-9.80,-139.03,Villa Enata
9,Jalu,LY,76.44,clear sky,29.03,21.55,Jalu Hotel
10,Rikitea,PF,72.36,overcast clouds,-23.12,-134.97,Pension Maro'i
13,Kiunga,PG,83.86,broken clouds,-6.12,141.29,Airport Lodge Kiunga
14,Sovetskiy,RU,73.44,overcast clouds,61.36,63.58,Apartment on Kievskaya 29
18,Butaritari,KI,78.64,overcast clouds,3.07,172.79,Isles Sunset Lodge
20,Ponta Do Sol,PT,71.01,clear sky,32.67,-17.10,Hotel do Campo
26,Hobyo,SO,78.64,overcast clouds,5.35,48.53,Osmani Hotel

In [14]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the Hotel Data into a CSV.
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# Data type of max temp
hotel_df['Max Temp'].dtypes

dtype('float64')

In [16]:
# Convert Max Temp type from float64 to string.
hotel_df['Max Temp'] = hotel_df['Max Temp'].astype(str)

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Virginia Beach,US,82.0,scattered clouds,36.85,-75.98,Hilton Virginia Beach Oceanfront
6,Mahebourg,MU,71.6,light intensity shower rain,-20.41,57.70,Shandrani Beachcomber Resort & Spa
7,Atuona,PF,79.84,clear sky,-9.80,-139.03,Villa Enata
9,Jalu,LY,76.44,clear sky,29.03,21.55,Jalu Hotel
10,Rikitea,PF,72.36,overcast clouds,-23.12,-134.97,Pension Maro'i
13,Kiunga,PG,83.86,broken clouds,-6.12,141.29,Airport Lodge Kiunga
14,Sovetskiy,RU,73.44,overcast clouds,61.36,63.58,Apartment on Kievskaya 29
18,Butaritari,KI,78.64,overcast clouds,3.07,172.79,Isles Sunset Lodge
20,Ponta Do Sol,PT,71.01,clear sky,32.67,-17.10,Hotel do Campo
26,Hobyo,SO,78.64,overcast clouds,5.35,48.53,Osmani Hotel

In [18]:
# Creating a new column with Current Weather by merging Current Description and Max Temp into one.
hotel_df["Current Weather"] = hotel_df["Current Description"] +" and "+ hotel_df["Max Temp"] +" " u"\N{DEGREE SIGN}""F"

# Dropping the columns for Current Description and Max Temp as the information has been replaced with Current Weather
hotel_df = hotel_df.drop(['Current Description', 'Max Temp'], axis=1)

# Rearranging the columns in DataFrame
hotel_df = hotel_df[["City", "Country", "Lat", "Lng", "Current Weather", "Hotel Name"]]

In [19]:
hotel_df

,City,Country,Lat,Lng,Current Weather,Hotel Name
3,Virginia Beach,US,36.85,-75.98,scattered clouds and 82.0 °F,Hilton Virginia Beach Oceanfront
6,Mahebourg,MU,-20.41,57.70,light intensity shower rain and 71.6 °F,Shandrani Beachcomber Resort & Spa
7,Atuona,PF,-9.80,-139.03,clear sky and 79.84 °F,Villa Enata
9,Jalu,LY,29.03,21.55,clear sky and 76.44 °F,Jalu Hotel
10,Rikitea,PF,-23.12,-134.97,overcast clouds and 72.36 °F,Pension Maro'i
...,...,...,...,...,...,...
551,Takoradi,GH,4.88,-1.76,scattered clouds and 73.33 °F,Raybow International Hotel
552,Poum,NC,-20.23,164.02,few clouds and 73.6 °F,Gîte kajeon
558,Sinayawan,PH,6.71,125.31,clear sky and 85.46 °F,Mig Milla's Hut
559,Marshall,US,34.38,-86.33,clear sky and 80.01 °F,Lake Guntersville Bed and Breakfast
562,Maragogi,BR,-9.01,-35.22,clear sky and 74.03 °F,Salinas do Maragogi All Inclusive Resort

In [20]:
# Creating a pop up marker for the DataFrame for layering
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Weather}</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add marker layer with pop up on map.
locations = hotel_df[["Lat", "Lng"]]
current_description = hotel_df["Current Weather"]

fig = gmaps.figure(center=(20.0, 40.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

#  Adding marker.
fig.add_layer(marker_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))