In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bubaque,GW,2020-07-14 17:18:54,11.28,-15.83,81.05,84,100,14.36
1,1,Vaini,TO,2020-07-14 17:18:54,-21.20,-175.20,69.80,77,40,9.17
2,2,Albany,US,2020-07-14 17:15:22,42.60,-73.97,82.99,57,0,7.92
3,3,Busselton,AU,2020-07-14 17:18:55,-33.65,115.33,48.99,76,100,10.29
4,4,Homnabad,IN,2020-07-14 17:18:55,17.77,77.13,73.72,92,100,9.26

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
max_temp.head()

0    81.05
1    69.80
2    82.99
3    48.99
4    73.72
Name: Max Temp, dtype: float64

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))